<p>error-page works!</p>
<ul>
  <li>
    <a routerLink="/auth/login">Ir a login</a>
  </li>
  <li>
    <a routerLink="/auth/registro">Ir a Registro</a>
  </li>
  <li>
    <a routerLink="/heroes/listado">Ir Listado</a>
  </li>
  <li>
    <a routerLink="/heroes/agregar">Ir Agregar Heroe</a>
  </li>
  <li>
    <a routerLink="/heroes/editar">Ir Editar Heroe</a>
  </li>
  <li>
    <a routerLink="/heroes/buscar">Ir Buscar</a>
  </li>
  <li>
    <a routerLink="/heroes/heroe">Ir a Heroe</a>
  </li>
  <li>
    <a routerLink="/heroes/home">Ir Home</a>
  </li>
  
</ul>
